.item-brands {
  border-radius: 4px;
}

.brand-info {
  width: 308px;
  height: 64px;
  border-radius: 4px;
  display: flex;
  /* padding: 0 1.55rem; */
  align-items: center;
}

.brand-info:first-child {
  padding-left: 0;
}
.brand-img img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}

.carousel-brands {
  display: flex;
  overflow-y: hidden;
  align-items: center;
  gap: 15px;
  flex-direction: row;
  margin-left: 2rem;
}

.carousel-brands::-webkit-scrollbar,
.carousel-brands::-webkit-scrollbar-track {
  height: 0;
}

@media (min-width: 1024px) {
  .carousel-brands {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 74px;
  }
}

@media (max-width: 1024px) {
  .carousel-brands {
    margin-left: 1rem;
  }
}

@media (min-width: 1441px){
  .carousel-brands{
    display: flex;
    justify-content: center;
  }
}