.container-header-desk {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 24px;
  box-sizing: border-box;
}

.container-icons-desk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  
}

.menu-logo_headerDesk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 66px;
  width: 100%;

}

.image_containerDesk {
  width: 147px;
  height: 18px;
}

.lupa {
  max-width: 791px;
  width: 100%;
}

.lupa .input-text {
  width: calc(100% - 119px);
  height: 40px;
  border-radius: 10px;
  background: #EFEFEF;
  border-style: none;
  padding-left: 24px;
  font-family: Titillium;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.lupa .input-buscar {
  height: 40px;
  width: 119px;
  left: 672px;
  top: 0px;
  border-radius: 8px;
  background: #FAA500;
  font-family: Titillium;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffff;
  border-style: none;
}

.section-menu {
  width: 100%;
  height: 48px;
}

.container-menu {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  width: 100%;
  padding: 10px 323px 9px 162px;

}

.novidades-icon {
  display: flex;
  align-items: center;
  height: 21px;
}

.novidades-icon p {
  color: #FAA500;
  font-family: Titillium;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

.novidades-icon svg {
  margin-right: 10px;
}

.item-menu {
  font-family: Titillium;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width:1023px) {
  .section-header-desk {
    display: none;
  }

  .container_headerDesk{
    padding: 24px 10px;
  }
}

@media (min-width:1024px){
  .container-menu {
    gap: 70px;
    padding: 0;
  }
}

@media (min-width:1024px) and (max-width:1440px) {
  .section-header-desk{
    padding: 0 20px 0;
  }

  .container-icons-desk{
    display: flex;
    gap: 15px;
  }

 

} 